
/* SECTION Overall Styles */

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: "Manrope", sans-serif;
}

main {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    outline: 4px black solid;
    border-radius: 3px;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.verySans {
    font-family: 'Kanit', sans-serif;
}

/* SECTION Current Weather Styles */

/* NOTE - Margins only worked correctly (child stayed positioned correctly relative to parent) on these two children when I used the 'flex' property to establish size (not percentages or hard numeric values):  */
#current-container {
    margin: 10px 10px 5px 10px;
    padding: 5px;
    /* background: pink; */
    /* outline: black dotted 1px; */
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#today {
    margin-top: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.current-card {
    flex: 1;
    /* background: lightblue; */
    /* outline: 1px black dotted; */
}

.current-card h1 {
    border-top-left-radius: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: linear-gradient(90deg, #A8E4FF 55%, #219ebc)
}

#today-container {
    flex: 1;
    outline: 2px #023047 solid;
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
}

#icon-tile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#tempCircleOuter {
    background: linear-gradient(#FB5608, #A30000);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;6t
}

#tempCircleInner {
    background: #fff;
    border-radius: 50%;
    color: black;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 3rem;
}

#degreeF {
    font-size: 1.5rem;
    vertical-align: top;
}

#today-info {
    flex: 2;
    /* background: peachpuff; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#today-info img {
    height: 100px;
}

#today-condition {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}





/* SECTION Forecast Container Styles */

#forecast-container {
    margin: 5px 10px 10px 10px;
    padding: 5px;
    /* background: lightseagreen; */
    /* outline: 1px red dotted; */
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#forecast-container h1 {
    border-top-left-radius: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: linear-gradient(90deg, #A8E4FF 55%, #219ebc)
}

.forecast-card {
    flex: 1;
    /* background: lightblue; */
    outline: 2px #023047 solid;
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
    border-radius: 15px;
}

.forecast-card > div {
    margin: 5px;
    font-size: 0.9rem;
}

.date-tile {
    flex: 1;
    /* background-color: red; */
    /* outline: 1px black dotted; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;;
}

.icon-tile {
    flex: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    /* outline: 1px black dotted; */
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
}

.forecast-info {
    flex: 3;
    /* background: blueviolet; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* outline: 1px black dotted; */
    text-align: center;
}

#forecast-container img {
    height: 60px;
}
