
/* SECTION Overall Styles */

* {
    padding: 0;
    margin: 0;
}

body {
    height: 150vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Manrope", sans-serif;
}

main {
    /* background: lightsteelblue; */
    outline: 1px black solid;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}


/* SECTION Current Weather Styles */

/* NOTE - Margins only worked correctly (child stayed positioned correctly relative to parent) on these two children when I used the 'flex' property to establish size (not percentages or hard numeric values):  */
#current-container {
    margin: 10px 10px 5px 10px;
    padding: 5px;
    /* background: pink; */
    outline: black dotted 1px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#today {
    margin-top: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.current-card {
    flex: 1;
    /* background: lightblue; */
    outline: 1px black dotted;
}

.current-card h1 {
    margin-left: 5px;
}

#today-container {
    flex: 1;
    outline: 1px black dotted;
    display: flex;
    flex-flow: row nowrap;
}

#icon-tile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px dotted;
}

#tempCircleOuter {
    background: linear-gradient(#FB5608, #A30000);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#tempCircleInner {
    background: #fff;
    border-radius: 50%;
    color: black;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 3rem;
}

#icon-tile {
    flex: 1;
    background: white;
}

#degreeF {
    font-size: 1.5rem;
    vertical-align: top;
}

#today-info {
    flex: 2;
    /* background: peachpuff; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#today-info img {
    height: 100px;
}

#today-condition {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}





/* SECTION Forecast Container Styles */

#forecast-container {
    margin: 5px 10px 10px 10px;
    padding: 5px;
    /* background: lightseagreen; */
    outline: 1px black dotted;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#forecast-container h1 {
    margin-left: 5px;
}

.forecast-card {
    flex: 1;
    /* background: lightblue; */
    outline: 1px black dotted;
    display: flex;
    flex-flow: row nowrap;
}

.forecast-card > div {
    margin: 5px;
}

#oneDayOut {
    margin: 5px 0 5px 0;
}

#twoDayOut {
    margin: 0 0 5px 0;
}

.date-tile {
    flex: 1;
    /* background-color: red; */
    outline: 1px black dotted;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;;
}

.icon-tile {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px black dotted;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.icon-tile h5 {
    text-align: center;
}

.forecast-info {
    flex: 2;
    /* background: blueviolet; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    outline: 1px black dotted;
    text-align: center;
}

#forecast-container img {
    height: 60px;
}
